
﻿.navbar li .glyphicon {
    margin-right: 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: inherit;
}

a {
    color: inherit;
}

@media (min-width: 768px) {
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 100px;
    }

    .nav-menu {
        float: none;
    }
}
